/* Main Elements */

.root-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-container{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
 
.topbar{
  background-color: blue;
  height: 200px;
}

.footer{
  background-color: red;
  height: 100px;
}

.sidebar{
  background-color: burlywood;
  width: 200px;
  height: 100%;
}

.content {
  background-color: cadetblue;
  height: 100%;
  flex-grow: 1;
}

.widget-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex;
  align-items: center;
}

/* Medicine Path */

#medicine path {
  width: 100%;
  height: 30px;
  background-color: #e5e5e5;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000000;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

#medicine-path .medicine-path_link {
  font-weight: bold;
}

.medicine-path-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.medicine-path-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}

.medicine-path-image {
  flex: inherit;
}

.medicine-path-menu-link {
  flex: unset;
}

.medicine-path-slideshow{

}


/* Medicine Wheel */ 

.medicine-wheel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.medicine-wheel-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.medicine-wheel-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}

.medicine-wheel-image {
  flex: inherit;
}

.medicine-wheel-menu-link {
  flex: unset;
}

/* Foundation rights */

.foundation-rights {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.foundation-rights-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.foundation-rights-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}

.foundation-rights-image {
  flex: inherit;
}

.foundation-rights-menu-link {
  flex: unset;
}