<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/site.css" />
  </head>
  <body>
    <div class="topbar">
      <div class="title-container">
        <div class="title">
          Medicine Path
        </div>
      </div>
      <div class="topbar-filler"> 
      </div>
      <div class="menu-container">
        <div class="menu">
          <div class="home_link">
            <a href=".">
              <div class="menu-bar-headings">
              Home
              </div>
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href="./Medicine-Wheel">
              <div class="menu-bar-headings">
                Medicine Wheel 
              </div>
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href="./Individual-Healing">
              <div class="menu-bar-headings">
                Individual Healing  
              </div>
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href="./Medicine-Circles">
              <div class="menu-bar-headings">
                Medicine Circles
              </div>
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href="./Contact">
              <div class="menu-bar-headings">
                Contact 
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

     <t>Oxygen 
     </t>
     <div class="content-container">
      <div class="content-padding">
        <div class="content">
          <div class="content-text">
             Oxygen is the chemical element with the symbol O and atomic number 8. 
            It is a member of the chalcogen group in the periodic table, 
            a highly reactive nonmetal, and an oxidizing agent that readily forms oxides with most elements as well as with other compounds. 
            After hydrogen and helium, oxygen is the third-most abundant element in the universe by mass. At standard temperature and pressure, 
            two atoms of the element bind to form dioxygen, a colorless and odorless diatomic gas with the formula O
            2. Diatomic oxygen gas constitutes 20.95% of the Earth atmosphere. Oxygen makes up almost half of the Earth crust in the form of oxides. 
          </div>
        </div>
      </div>
    </div>
      <div class="content-container">
        <div class="content-padding"> 
          <div class="content"> 
            <div class="content-text"> 
              <div class="footer">
                Name: Wendy Davidson                 
                Email: medicinepathwendy@gmail.com 
                <!--                    
                  Home Number: 01730261958 maybe don't put this                    
                -->                
                Location: England, Hampshire, Petersfield 
              </div>                                    
            </div>
          </div>
        </div>
      </div>
  </body>
</html>