<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="layout.css" />
  </head>
  <body>
  <div class="root-container">
    <div class="topbar"> 
      <h1>
      Medicine Path 
      </h1>
    </div>
    <div class="topbar-text"></div>
      <p>
        (click here for more infomation)
      </p>
      <div class="home-images">
        <img 
            src="http://shamanic-energy-alignment.com/images/peru_shaman2.jpg"  
            height="100px"
            width="200px"
           />
          </p>
        </a>  
      </div>
    </div>
    <div class="content-container">
      <div class="sidebar">
        <div id="home">
          <div class="home_link">
            <a href=".">
              Home
            </a>
          </div>
          <aside>
            _|_    
          </aside>
          <div class="home_link">
            <a href=".">
              History of Shamonism 
            </a>
          </div>
          <aside>
            _|_    
          </aside>
          <div class="home_link">
            <a href=".">
              Medicinal Methods 
            </a>
          </div>
          <aside>
            _|_    
          </aside>
          <div class="home_link">
            <a href=".">
              Products
            </a>
          </div>
          <aside>
            _|_    
          </aside>
          <div class="home_link">
            <a href=".">
              Shamonic Yoga
            </a>
          </div>
          <aside>
            _|_    
          </aside>
          <div class="home_link">
            <a href=".">
              My Location 
            </a>
          </div>
          <aside>
            _|_    
          </aside>
          <div class="home_link">
            <a href=".">
              Info 
            </a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="widget-container">
          <div class="home-description">
            "Teachings, known as The Four Insights, were kept under wraps for
             a very good reason. With the arrival of the conquistadors, the 
             Laika were relentlessly persecuted.
            Many, particularly the women, were branded witches and sorcerers, 
            then imprisoned, tortured, and killed.
            Their knowledge was considered so dangerous and threatening to 
            the Catholic Church that even now, 200 years after the Spanish 
            Inquisition shut its doors everywhere else in the world,
            it continues to keep active an office in Lima, Peru." 
            - Alberto Villoldo p.h.d  
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>
        Details: 1111
        Email: 1111
        Location: 1111
        Buisness Phone: 1111
        (Personal details can be asked for via the email displayed.)
      </p>
    </div>
      </div>
        <div class="typewriter">
          <h1>
            The Healing Path provides spritiually mediticinal methods; to heal your 
            mind, body and spirit. 
          </h1>
  </body>
</html>


