<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/site.css" />
  </head>
  <body>
    <div class="topbar">
      <div class="title-container">
        <div class="title">
          Medicine Path
        </div>
      </div>
      <div class="topbar-filler">
      </div>
      <div class="menu-container">
        <div class="menu">
          <div class="home_link">
            <a href=".">
              Home
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href="../history-of-shamanism">
              History of Apples 
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href=".">
              Medicinal Methods 
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href=".">
              Products
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href=".">
              Shamonic Yoga
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href=".">
              My Location 
            </a>
          </div>
          <aside>
            •    
          </aside>
          <div class="home_link">
            <a href=".">
              Info 
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="content-padding">
        <div class="content">
          Hello
        </div>
      </div>
      
    </div>
    
  </body>
</html>


